<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Client access</title>
</head>
<body>
    <h1>Apply for a loan</h1>
    <form action="/client/post_loan" method="post" id="loan_form">
        <label>Client name</label>
        <input type ="text" required label="Client name" name="name"/>
        <label>Loan amount</label>
        <input type ="number" step="0.01" required name="amount"/>
        <label>Currency</label>
        <input type ="text" required name="currency"/>
        <label>ID type</label>
        <select name="idtype" required label="ID type" id="idtype">
            <option value="DNI">DNI</option>
            <option value="Passport">Passport</option>
        </select>
        <label>ID</label>
        <input type ="text" required label="Client ID" name="id"/>
        <button type="submit" required id="button" >Submit</button>
    </form>
</body>
</html>