<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manager access</title>
</head>
<body>
    <h1>Modify loan data</h1>

    <h2>Current data</h2>

    <h2>Modify some values</h2>
    <form th:action="@{/client/post_loan/{id}(id=${id})}" method="post" id="loan_form">
        <label>Client name</label>
        <input type ="text" label="Client name" name="name"/>
        <label>Loan amount</label>
        <input type ="number" step="0.01" name="amount"/>
        <label>Currency</label>
        <input type ="text" name="currency"/>
        <label>ID type</label>
        <select name="idtype" label="ID type" id="idtype">
            <option value="DNI">DNI</option>
            <option value="Passport">Passport</option>
        </select>
        <label>ID</label>
        <input type ="text" label="Client ID" name="id"/>
        <label>Status</label>
        <select name="status" label="Status" id="status">
            <option value="Pending">Pending</option>
            <option value="Accepted">Accepted</option>
            <option value="Rejected">Rejected</option>
            <option value="Canceled">Canceled</option>
        </select>
        <button type="submit" id="button" >Submit</button>
    </form>
</body>
</html>