<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manager access</title>
</head>
<body>
    <h1>Modify loan data</h1>

    <h2>Modify status</h2>
    <table>
        <thead>
        <tr>
            <th>Client</th>
            <th>Amount</th>
            <th>Currency</th>
            <th>ID</th>
            <th>Date</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td th:text="${loan.getName()}"></td>
            <td th:text="${loan.getAmount()}"></td>
            <td th:text="${loan.getCurrency()}"></td>
            <td th:text="${loan.getId().toString()}"></td>
            <td th:text="${loan.getCreation()}"></td>
            <td th:text="${loan.getStatus()}"></td>
        </tr>
        </tbody>
    </table>

    <form th:action="@{/manager/status_loan/{id}(id=${id})}" method="post" id="loan_form">
        <label>Status</label>
        <select name="status" label="Status" id="status">
            <option th:each="status : ${status_list}"
                    th:value="${status}" th:text="${status}">
            </option>
        </select>
        <button type="submit" id="button" >Submit</button>
    </form>

    <a id = "a" href ="/"><h3>Index access</h3></a>

</body>
</html>